<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle class="tree-node tree-node-content">
    <a class="btn btn-success btn-xs" nodrag ng-click="toggle(this)" ng-if="node.nodes.length > 0">
      <span class="glyphicon"
            ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}">
      </span>
    </a>
    <a ng-click="setCurrentNode(node)" role="button">{{node.name}}</a>
    <a class="pull-right btn btn-danger btn-xs" nodrag ng-click="nodeDelete(this)" ng-if="node.id !== 0" role="button"><span
        class="glyphicon glyphicon-remove"></span></a>
    <a class="pull-right btn btn-primary btn-xs" nodrag ng-click="nodeCreate(this)" style="margin-right: 8px;" role="button"><span
        class="glyphicon glyphicon-plus"></span></a>
  </div>
  <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}" data-nodrag>
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'" collapsed="true">
    </li>
  </ol>
</script>

<div class="row">
  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Devices</h3>
      </div>
      <div class="panel-body">
        <div ui-tree id="tree-root">
          <ol ui-tree-nodes="" ng-model="data" data-nodrag data-collapsed="true">
            <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
   
  <div class="col-sm-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Details
        <button class="pull-right btn btn-danger btn-xs" nodrag ng-click="undoChanges()" style="margin-right: 8px;" ng-show="editMode">Cancel</button>
          <button class="pull-right btn btn-success btn-xs" nodrag ng-click="saveChanges()" style="margin-right: 8px;" ng-show="editMode">Save</button>
        </h3>
      </div>
      <div class="panel-body" ng-show="currentNode.hasOwnProperty('id')">
        <a class="pull-right btn btn-primary btn-xs" ng-show="!editMode" ng-click="copyNode(); editMode = true;" style="margin-right: 8px;"> 
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
         <form class="form-horizontal">
          <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" ng-model="currentNode.name" ng-disabled="!editMode" id="name" placeholder="Name" value="{{currentNode.name}}">
            </div>
          </div>
          <div class="form-group">
            <label for="desc" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-5">
              <textarea class="form-control" ng-model="currentNode.desc" ng-disabled="!editMode" id="desc"> {{currentNode.desc}}</textarea>

            </div>
          </div>
          <div class="form-group">
            <label for="notes" class="col-sm-3 control-label">Notes</label>
            <div class="col-sm-5">
              <textarea class="form-control" ng-model="currentNode.notes" ng-disabled="!editMode">{{currentNode.notes}}</textarea>
            </div>
          </div>
          <div class="panel panel-default" ng-model="currentNode">
            <div class="panel-heading">Consoles
              <a class="pull-right btn btn-primary btn-xs" nodrag ng-click="addConsole(this)" style="margin-right: 8px;">
                <span class="glyphicon glyphicon-plus"></span>
              </a>
            </div>
              <table class="table">
                <th class="col-md-2">Name</th><th class="col-md-4"><span>IP/Hostname</span></th><th class="col-md-3">Type</th><th class="col-md-2">Port</th><th class="col-md-1"></th>
                  <tr ng-repeat="console in currentNode.consoles">
                    <td>
                        <input type="text" class="form-control" ng-model="console.name" ng-disabled="!editMode" id="name" value="{{console.name}}">
                    </td>
                    <td>
                      <div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-console" ng-show='console.type.toString() === "0"'></span>
                                <span class="glyphicon glyphicon-globe" ng-show='console.type.toString() === "1"'></span>
                            </span>
                            <input type="text" class="form-control" ng-model="console.ipaddress" ng-if="editMode" id="ipaddress" value="{{console.ipaddress}}">
                            <button ng-if="!editMode" class="btn btn-success" ng-click="openConsole('sm',console)">{{console.ipaddress}}</button>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div>
                        <select class="form-control" ng-model="console.type" ng-disabled="!editMode">
                          <option type="number" value=0>SSH</option>
                          <option type="number" value=1>HTTP</option>
                        </select>
                      </div>
                    </td>
                    <td> 
                      <input type="number" class="form-control" ng-model="console.port" ng-disabled="!editMode" value="{{console.port}}">
                    </td>
                    <td>
                      <a class="pull-right btn btn-danger btn-xs" nodrag ng-click="removeConsole(console)" ng-show="editMode">
                        <span class="glyphicon glyphicon-remove"></span>
                      </a>
                    </td>
                  </tr>
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="SSHModal.html">
        <div class="modal-header">
            <h3 class="modal-title">SSH Username</h3>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="user" class="col-sm-3 control-label">username</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="user" ng-model="user" value="{{currentUser}}">
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
</script>

